.header {
    grid-column: full-start / full-end;
    color: $white;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-items: center;


    &__logo-box {
        grid-column: 2 / span 2;
        justify-self: left;
        display: flex;

        @include respond(phone) {
            grid-column: 4 / span 2;
            justify-self: center;
        }

        img {
            width: 7rem;
        }
    }

    &__logo-span {
        font-size: 2.3rem;
        text-transform: uppercase;

        @include respond(phone) {
            font-size: 1.9rem;
        }
    }

    &__sub-span {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: -6px;

        @include respond(phone) {
            font-size: .2rem;
        }
    }

    &__menu {
        grid-column: 5 / span 3;
        justify-self: right;
        align-self: center;
 
        span {
            padding-left: 20px;
        }

        @include respond(phone) {
            display: none;
        }
    }
}


