.category-form {

    form {
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
        }

        input[type="text"] {
            margin-bottom: 1rem;
            height: 2.5rem;
            padding: 15px 10px;
            border: 2px solid $secondary-color;
            border-radius: 4px;
            font-size: 1.5rem;
        }

        a {
            z-index: 999;
            background-color: black;
        }

        input[type="submit"] {
            &,
            &:link,
            &:visited {
                border: none;
                padding: 1rem;
                background-color: $primary-color;
                color: $white;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 400;
                border-radius: .5rem;
                // cursor: pointer;
                position: relative;
                border-color: rgba($black, .8);
                z-index: 0;
            }

            &:hover {
                transform: translateY(-1px);
                box-shadow: 0 .5rem 1rem rgba($black,.2);
        
                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
            }
            
            &:active,
            &:focus {
                outline: none;
                transform: translateY(-.5px);
                box-shadow: 0 .5rem 1rem rgba($black,.2);
            }


        }
    }
}