.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        .icon {
            @include svg-icons($black);
        }
        grid-column: 4 / -1;
        justify-self: right;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(max-content, 13rem)) 1fr;

        @include absCenter;
        width: 50%;
        height: 30rem;
        background-color: $white;
        box-shadow: 0 2rem 4rem rgba($black, .2);
    }

    &__header {
        grid-column: 2 / span 2;
        align-self: center;
        justify-self: center;
        
        h3 {
            text-transform: uppercase;
        }
    }

    &__create-category-box {
        grid-column: 2 / span 2;
        // align-self: center;
        justify-self: center;
        width: 100%;
    }
}