.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .4);
    z-index: 9999;
    // opacity: 0;
    // visibility: hidden;
    transition: all .3s;

    // &:target {
    //     opacity: 1;
    //     visibility: visible;
    // }

    &__close {
        .icon {
            @include svg-icons($black);
            width: 2em;
            height: 4em;
            @include respond(phone) {
                width: 3em;
                height: 3em;
                // transform: translateY(5rem);
              }
        }
        grid-column: 5 / 6;
        justify-self: right;
        align-self: center;
        @include respond(phone) {
            justify-self: center;
          }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr repeat(4, minmax(max-content, 13rem)) 1fr;
        grid-template-rows: repeat(8, 1fr);
        @include absCenter;
        width: 50%;
        height: 50rem;
        background-color: $white;
        box-shadow: 0 2rem 4rem rgba($black, .2);

        @include respond(tab-port) {
            width: 100%;
            height: 100vh;
          }
    }

    &__header {
        grid-column: 3 / span 2;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        
        h3 {
            text-transform: uppercase;
        }
    }

    &__create-category-box {
        grid-column: 2 / span 4;
        grid-row: 5 / 7;
        // align-self: center;
        justify-self: center;
        width: 100%;
        @include respond(phone) {
            width: 70%;
          }
    }
}