.todo {
    display: grid;
    // grid-row-gap: .3rem;
    padding: 2rem;
    margin-top: 2rem;
    
    &__single-todo {
        display: grid;
        grid-template-columns: min-content minmax(2rem, max-content) 1fr;
        grid-column-gap: 1rem;
        padding: .3rem;
        &:nth-child(odd) {
            background-color: $light-grey-1;
          }
        align-items: center;

         
    }

    &__icon-box {
        align-self: center;
        .icon {
            @include svg-icons($black);
        }
    }

    &__name {
        // background-color: lighten( $black, 95%);
        padding: 0 .3rem;
    }

    &__delete-button {
        justify-self: end;
        align-self: center;
        @include svg-icons($black);
    }

    &__checked {
        text-decoration: line-through;
        color: lighten($black, 70%);
    }
}

