$primary-color: #53A536;
$secondary-color: #6478BF;
$black: #000;
$white: #fff;
$category-header-background-color-1: #E75B10;
$category-header-background-color-2: #53A536;
$default-font-size: 1.6rem;
