$primary-color: #53A536;
$primary-color-light: darken( $primary-color, 20% );
$secondary-color: #6478BF;
$secondary-color-light: lighten( $secondary-color, 15% );

$black: #000;
$white: #fff;
$light-grey-1: #F6F6F4;
$light-grey-2: #C3C6CD;
$category-header-background-color-1: #E75B10;
$category-header-background-color-2: #53A536;
$default-font-size: 1.6rem;
